@import 'common.css';

.container {
  display: grid;
  grid-template-rows: 200px 60px 1fr 60px;
  grid-template-areas: 
  "hd"
  "mn"
  "main"
  "ft";
  gap: 1px;
}

.contact-box {
  padding-left: 150px;
  padding-right: 150px;
  font-size: 1.25em;
}

.header {
  grid-area: hd;
  background: #4056a1;
  color: white;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.menu {
  grid-area: mn;
  background: #c5cbe3;
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer {
  grid-area: ft;
  background: #c5cbe3;
  font-size: 1.25em;
  font-weight: bold;
  text-align: center;
}

.sidebar {
  grid-area: sd;
  background: #c5cbe3;
}

.content {
  grid-area: main;
  background: #efe2ba;
  text-align: center;
}

.message_text {
  height: 60px;
}
