.container{
      display:grid;
      grid-template-columns: 300px 100px;
      grid-template-rows: 200px 60px 1fr 60px;
      /* grid-template-rows: 2fr 0.5fr 5fr 0.5fr; */
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "mn mn mn mn mn mn mn mn"
      "main main main sd sd sd sd sd"
      "ft ft ft ft ft ft ft ft";
      gap: 1px;
  }

  .menu a {
    color: white;
    text-decoration: none;
  }

  .box{
    border-radius: 5px;
    background: #f3f3e5;
    padding: 5px;
    margin: 5px;
  }

  .post-box{
    padding-left: 150px;
    padding-right: 150px;
    font-size: 1.25em;
  }

  .menu-box{
    border-radius: 5px;
    background: #4056a1;
    padding: 5px;
    margin: 5px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    font-weight: bold;
}

  .header{
    background: #4056a1;
    grid-area:hd;
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

  .menu{
    background: #c5cbe3;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    grid-area: mn
  }

  .footer{
    background: #c5cbe3;
    grid-area:ft;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
  }

  .sidebar{
    background: #c5cbe3;
    grid-area:sd;
  }

  .content{
    background: #efe2ba;
    grid-area:main;
  }

  .main_post_img {
    width: 400px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0 0;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
  }

  figcaption {
    font-style: italic;
    font-weight: bold;
    text-align: center;
    color: #4056a1;
  }
