.container{
    /* Step 1: Set display to grid */
      display:grid;
   /* Step 2: setup rows amd columns */
      grid-template-columns: 300px 30px;
      grid-template-rows: 3fr 1fr 5fr 4fr 1fr;
      grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "mn mn mn mn mn mn mn mn"
      "main main main main main main main sd"
      "secondary secondary secondary secondary secondary secondary secondary fm"
      "ft ft ft ft ft ft ft ft";
      gap: 1px;
  }
  .box{
      border: 1px solid #5f5f5cc5;
      border-radius: 5px;
      background: #f3f3e5;
      padding: 5px;
      margin: 5px;
  }

  .post-box{
    border: 1px solid #5f5f5cc5;
    border-radius: 5px;
    background: #d79922;
    padding: 5px;
    margin: 5px;
}

  .menu-box{
      border: 1px solid #5f5f5cc5;
      border-radius: 5px;
      background: #4056a1;
      padding: 5px;
      margin: 5px;
      width: 60px;
      justify-content: center;
      align-content: center;
  }

  .header{
    background: #4056a1;
    grid-area:hd;
  }

  .menu{
      background: #c5cbe3;
      display:flex;
      flex-direction: row;
      justify-content: flex-start;
      grid-area: mn
  }
  .footer{
    background: #c5cbe3;
    grid-area:ft;
  }
  .sidebar{
    background: #efe2ba;
    grid-area:sd;
  }
  .content{
    background: #efe2ba;
    grid-area:main;
  }

  .recent_posts{
      background: #efe2ba;
      grid-area:secondary;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
  }

  .subscription{
      background: #efe2ba;
      grid-area:fm;
  }
